<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/board" method = "POST">
        <div>게시글 번호 : <input type = "text" name = "boardNo"></div>
        <div>제목 : <input type = "text" name="title"></div>
        <div>내용 :<textarea name="contents"></textarea></div>
        <button type ="submit">저장</button>
    </form>
</body>
</html>